<div class="menu-item row {{option.type}}">
  {{#if option.icon}}
    <div class="menu-item__icon">

      <img src="{{option.icon}}" :alt="{{option.id}}">
      
    </div>
  {{/if}}

  <div class="menu-item__text">{{option.title}}</div>
</div>
