<div class="modal-wrapper modal-wrapper--{{isOpen}}">
  <div class="modal">
    <div class="modal__header">
      {{title}}
      {{{closeButton}}}
    </div>
    <div class="modal__body">
      {{{body}}}
    </div>
  </div>
</div>
