<div class="dialog-message__wrapper dialog-message__wrapper--{{user}}">
    <div class="dialog-message ">
        <div class="dialog-message__text">{{text}}</div>
        <div class="dialog-message__date dialog-message__date--{{datePosition}}"></div>
    </div>
</div>

