<div class="not-found-page">
  <div class="not-found-page__title">404</div>
  <div class="not-found-page__description">Не туда попали</div>
  <a href="/" class="not-found-page__link">Назад к чатам</a>
</div>