<div class="not-found-page">
  <h1 class="not-found-page__title">404</h1>
  <h6 class="not-found-page__description">Не туда попали</h6>
  <a href="/" class="not-found-page__link">Назад к чатам</a>
</div>
