<div class="main-header">
  <p>Ссылки: </p>

  <ul class="main-header__links">

    {{#each routes}}
      <li class="header-link">
        <a href="{{@key}}">{{title}}</a>
      </li>
    {{/each}}

  </ul>

</div>
